/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');


:root{
    --primary-font: 'Inter', sans-serif;
    --heading-font: 'Macondo', cursive;
    --secondary-color:#aa9581;
    --highlight-color:#416a8e;
    --lighthighlight-color:#7a9fc2;
}


body {
    font-family: "Inter", sans-serif;
}


h1 {
    font-family: "Macondo", cursive;
}
.sub-heading-color{
    color: var(--highlight-color);
}